.wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 6rem 0 10rem 0;
}

.bgImage {
    width: 675px;
    aspect-ratio: 675 / 445;
    background-color: #c4c4c4;
    border: 4px solid var(--color-color2);
    position: relative;
    display: flex;
    justify-content: center;
}

.ourExperience {
    position: absolute;
    top: 95%;
    background-color: var(--color-secondary);
    border-radius: 10px;
    display: flex;
    gap: 3rem;
    padding: 1rem 3rem;
}

.experienceBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers {
    font-size: var(--font-size-h2);
    font-weight: 800;
    color: var(--color-accent);
    line-height: 1;
}

.text {
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    color: var(--color-primary);
    font-weight: 300;
}

.rightContainer {
    max-width: 650px;
}

.text1 {
    font-size: var(--font-size-h4);
    font-weight: 600;
    color: var(--color-accent);
}

.text2 {
    font-size: var(--font-size-h3);
    font-weight: 600;
    color: var(--color-secondary);
    line-height: 1;
    margin: .5rem 0;
}

.text3 {
    font-size: var(--font-size-text);
    color: var(--color-secondary);
    font-family: var(--font-inter);
}

.tilesContainer {
    display: flex;
    gap: 1rem;
    margin-top: .5rem;
}

.contactContainer {
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
    gap: 5rem;
}

.infoContainer {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.iconContainer {
    background-color: var(--color-secondary);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.telephoneIcon {
    color: var(--color-accent);
    font-size: 1.9rem;
}

.moreInfo {
    font-size: var(--font-size-h5);
    font-weight: 600;
    color: var(--color-secondary);
}

.phoneNumber {
    font-size: var(--font-size-h6);
    font-weight: 700;
}