.wrapper {
    background-color: var(--color-accent3);
    display: grid;
    place-items: center;
    padding: 10rem 0;
}

.container {
    max-width: 1400px;
    width: 100%;
}

.title {
    font-size: var(--font-size-h1);
    font-family: var(--font-inter);
    font-weight: 700;
    color: var(--color-color4);
    margin-bottom: 1rem;
}

.paragraph {
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    color: var(--color-color4);
    max-width: 600px;
}