.wrapper {
    display: grid;
    place-items: center;
    padding: 5rem 0;
    width: 100%;
}

.textContainer {
    max-width: 1370px;
    width: 100%;
    margin-bottom: 1rem;
}

.sectionName {
    font-size: var(--font-size-h4);
    font-weight: 700;
    color: var(--color-accent);
}

.headingAndParagraph {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.heading {
    font-size: var(--font-size-h3);
    font-weight: 700;
    color: var(--color-secondary);
    max-width: 620px;
}

.paragraph {
    font-size: var(--font-size-text);
    color: var(--color-secondary);
    max-width: 675px;
    font-family: var(--font-inter);
    margin-top: 2.5rem;
}

.cardsContainer {
    display: flex;
    max-width: 1370px;
    width: 100%;
    justify-content: space-between;
}