.wrapper {
    background-color: var(--color-secondary);
    transition: background-color .2s ease-in-out;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    border-radius: .5rem;
    max-width: 430px;
}

.image {
    background-color: #c4c4c4;
    max-width: 380px;
    width: 100%;
    aspect-ratio: 380 / 254;
    margin-bottom: 1rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dateContainer {
    color: var(--color-primary);
    display: flex;
    gap: .5rem;
}

.currentDate {
    font-size: var(--font-size-text4);
    font-family: var(--font-inter);
    margin-top: .1rem;
}

.textContainer {
    max-width: 370px;
}

.title {
    font-size: var(--font-size-h6);
    font-weight: 700;
    color: var(--color-primary);
}

.paragraph {
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    color: var(--color-primary);
}

.readMore {
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    color: var(--color-accent);
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.arrowIcon {
    font-size: 1.5rem;
    margin-top: .15rem;
}

.dateContainer, .title, .paragraph {
    transition: color .2s ease-in-out;
}

/* --------------- Hover-colors --------------- */

.wrapper:hover {
    background-color: var(--color-color4);

    .dateContainer {
        color: var(--color-secondary);
    }

    .title {
        color: var(--color-secondary);
    }

    .paragraph {
        color: var(--color-secondary);
    }
}