.wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex: 1;
    min-height: 0;
}

.label {
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    color: var(--color-secondary);
}

.required {
    color: red;
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
}

.textArea {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--color-accent);
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    min-height: 0;
    flex: 1;
    resize: none;
}

.textArea::placeholder {
    color: var(--color-accent);
}

.textArea:focus {
    border: 1px solid var(--color-secondary);
    outline: none;
}
