.wrapper {
    display: grid;
    place-items: center;
    padding: 5rem 0;
}

.container {
    max-width: 1380px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sectionName {
    font-size: var(--font-size-h4);
    font-weight: 700;
    color: var(--color-accent);
}

.sectionTitle {
    font-size: var(--font-size-h3);
    font-weight: 700;
    color: var(--color-secondary);
}

.sectionParagraph {
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    color: var(--color-secondary);
    max-width: 600px;
}

.accordionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 670px;
    gap: 1rem;
}



