.wrapper {
    background-color: var(--color-accent3);
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1380px;
    width: 100%;
}

.imgContainer {
    margin-left: 6rem;
}

.infoContainer {
    background-color: var(--color-color5);
    padding: 3rem 3.7rem 7rem 3.7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sectionTitle {
    font-size: var(--font-size-h3);
    font-weight: 700;
    color: var(--color-secondary);
}

.sectionParagraph {
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    color: var(--color-secondary);
    max-width: 552px;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.contactBox {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.imgBox {
    background-color: var(--color-secondary);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.img {
    color: var(--color-accent);
    font-size: 2rem;
}

.title {
    font-size: var(--font-size-h5);
    font-weight: 600;
    color: var(--color-secondary);
}

.paragraph {
    font-size: var(--font-size-text5);
    font-weight: 600;
    color: var(--color-secondary);
}

.socialsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.socialText {
    font-size: var(--font-size-h5);
    font-weight: 600;
    color: var(--color-secondary);
}

.line {
    border: 2px solid var(--color-secondary);
    max-width: 160px;
    width: 100%;
}

.linkContainer {
    display: flex;
    gap: 1rem;
}

.facebook, .twitterX, .instagram, .youtube {
    background-color: var(--color-accent);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.socialsIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instagramIcon {
    margin-bottom: 1px;

}

.youtubeIcon {
    margin-bottom: 1px;
}