.wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.label {
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    color: var(--color-secondary);
}

.required {
    color: red;
}

.input {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--color-accent);
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
}

.input::placeholder {
    color: var(--color-accent);
}

.input:focus {
    border: 1px solid var(--color-secondary);
    outline: none;
}
