.wrapper {
    display: grid;
    place-items: center;
    padding: 5rem 0;
}

.container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    gap: 3rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sectionTitle {
    font-size: var(--font-size-h4);
    font-weight: 700;
    color: var(--color-accent);
}

.title {
    font-size: var(--font-size-h3);
    font-weight: 700;
    color: var(--color-secondary);
    max-width: 670px;
    line-height: 1;
}

.paragraph {
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    color: var(--color-secondary);
    max-width: 615px;
}

.imageContainer {
    background-color: #c4c4c4;
    max-width: 665px;
    aspect-ratio: 664 / 367;
    width: 100%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-color3);
    max-width: 670px;
    width: 100%;
    padding: 2rem;
    border-radius: .5rem;
}

.emailPhoneContainer {
    display: flex;
    gap: 1rem;
}

.emailPhone {
    flex: 1;
}