.wrapper {
    display: grid;
    place-items: center;
    padding: 5rem 0;
}

.container {
    max-width: 1400px;
    width: 100%;
    display: flex;
    gap: 3rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sectionTitle {
    font-size: var(--font-size-h4);
    font-weight: 700;
    color: var(--color-accent);
}

.title {
    font-size: var(--font-size-h3);
    font-weight: 700;
    color: var(--color-secondary);
    max-width: 670px;
    line-height: 1;
}

.paragraph {
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    color: var(--color-secondary);
    max-width: 615px;
}

.imageContainer {
    background-color: #c4c4c4;
    max-width: 665px;
    aspect-ratio: 664 / 367;
    width: 100%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--color-color3);
    max-width: 670px;
    width: 100%;
    padding: 2rem;
    border-radius: .5rem;
}

.emailPhoneContainer {
    display: flex;
    gap: 1rem;
}

.emailGroup {
    flex: 1;
}

.phone {
    flex: 1;
}


.formGroup {
    position: relative;
}

.errorText {
    position: absolute;
    color: red;
}

.commentGroup {
    margin-bottom: .5rem;
}

.submitBox {
    background-color: var(--color-color3);
    padding: 5rem 0;
    display: grid;
    place-items: center;
}

.submitTitle {
    font-size: var(--font-size-h1);
    color: var(--color-secondary);
    font-weight: 700;
}

.submitParagraph {
    font-size: var(--font-size-h3);
    font-weight: 700;
    color: var(--color-secondary);
}

.submitButton {
    border: none;
    background-color: var(--color-accent);
    padding: 1rem 2rem;
    border-radius: .5rem;
}