.navTop {
    background-color: var(--color-secondary);
    padding: .4rem 3rem .4rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numberEmail {
    display: flex;
    gap: 2rem;
}

.numberBox {
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: var(--font-inter);
}

.telephone {
    font-size: 1.2rem;
}

.number {
    font-weight: 300;
}

.emailBox {
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: var(--font-inter);
}

.envelope {
    height: 20px;
    width: 20px;
}

.email {
    font-weight: 300;
}

.navSocials {
    display: flex;
    gap: 1rem;
}

.facebook, .twitterx, .instagram, .youtube {
    background-color: var(--color-accent);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
}

.socials-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instagramIcon {
    margin-bottom: 1px;
    margin-left: 1px;
}

.youtubeIcon {
    margin-bottom: 1px;
}

.navBottom {
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navLinks {
    display: flex;
    gap: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navLink {
    text-decoration: none;
    color: var(--color-secondary);
    font-size: var(--font-size-text3);
    font-weight: 600;

}

.navLink.active {
    color: var(--color-accent);
}