.wrapper {
    max-width: 325px;
    width: 100%;
    background-color: var(--color-color4);
    border-radius: 10px;
    border: 2px solid var(--color-color2);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: var(--font-size-h5);
    font-weight: 600;
    color: var(--color-secondary);
}

.priceContainer {
    display: flex;
    gap: 1rem;
    position: relative;
}

.dollarSign {
    font-size: var(--font-size-h6);
    font-weight: 600;
    color: var(--color-accent);
}

.priceBox {
    display: flex;
    gap: .5rem;
    position: relative;
}

.price {
    font-size: var(--font-size-h3);
    font-weight: 700;
    color: var(--color-accent);
    line-height: 1;
}

.month {
    font-size: var(--font-size-h6);
    font-weight: 700;
    color: var(--color-secondary);
    margin-top: 1.2rem;
}

.priceParagraph {
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    color: var(--color-secondary);
    text-align: center;
    max-width: 250px;
}

.breakLine {
    border: 1px solid var(--color-secondary);
    max-width: 250px;
    width: 100%;
    margin: .5rem 0 1.5rem 0;
}

.bottomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.infoBox {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkBox {
    background-color: var(--color-secondary);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: relative;
}

.checkMark {
    width: 5px;
    height: 8px;
    border-right: 2px solid var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.info {
    font-size: var(--font-size-text);
    font-family: var(--font-inter);
    color: var(--color-secondary);
}


/* --------------- Hover-colors --------------- */

.wrapper:hover {
   background-color: var(--color-secondary);
   transition: ease-in-out 0.2s;

   .title, .month, .priceParagraph, .info {
    color: var(--color-primary);
   }

   .breakLine {
    border-color: var(--color-primary);
   }

   .checkBox {
    background-color: var(--color-accent);
   }

   .checkMark {
    border-color: var(--color-secondary);
   }
}