.servicesWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1400px;
    padding: 6rem 0;
    gap: 1.5rem;
}

.topContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.smallHeading {
    font-size: var(--font-size-h4);
    font-weight: 700;
    color: var(--color-accent);
}

.textBox {
    display: flex;
    justify-content: space-between;

}

.largeHeading {
    font-size: var(--font-size-h3);
    font-weight: 700;
    color: var(--color-secondary);
    line-height: 1;
    max-width: 620px;
}

.paragraph {
    font-size: var(--font-size-text);
    color: var(--color-secondary);
    font-family: var(--font-inter);
    max-width: 680px;
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
}

.tilesLeft {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image {
    background-color: #c4c4c4;
    border: 3px solid var(--color-color2);
    max-width: 520px;
    width: 100%;
}

.tilesRight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}