.wrapper {
    background-color: var(--color-color3);
    padding: 2rem;
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1480px;
    width: 100%;
    
}

.textContainer {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    font-size: var(--font-size-h3);
    font-weight: 700;
    color: var(--color-secondary);
    max-width: 600px;
}

.paragraph {
    font-size: var(--font-size-text);
    color: var(--color-secondary);
    font-family: var(--font-inter);
}

.submitContainer {
    display: flex;
    gap: 1rem;
    max-width: 700px;
    width: 100%;
}

.input {
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
    max-width: 540px;
    width: 100%;
}

.input::placeholder {
    color: var(--color-accent);
}