.wrapper {
    background-color: var(--color-color3);
    padding: 2rem;
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1380px;
    width: 100%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 690px;
    width: 100%;
}

.title {
    font-size: var(--font-size-h3);
    font-weight: 700;
    color: var(--color-secondary);
}

.paragraph {
    font-size: var(--font-size-text);
    color: var(--color-secondary);
    font-family: var(--font-inter);
}

.submitContainer {
    display: flex;
    justify-content: space-between;
    max-width: 670px;
    width: 100%;
}

.formGroup {
    position: relative;
    max-width: 540px;
    width: 100%;
}

.input {
    max-width: 540px;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid var(--color-accent);
    color: var(--color-secondary);
    outline: none;
    background-color: var(--color-primary);
    
    &::placeholder {
        color: var(--color-accent);
    }

    &:focus {
        border-color: var(--color-secondary);
        outline: none;
    }
}

.errorText {
    font-size: var(--font-size-text);
    color: red;
    position: absolute;
    bottom: 110%;
    right: 62%;
}

.inputError {
    border-color: red;
}






.submitBox {
    display: flex;
    background-color: var(--color-color3);
    max-width: 1920px;
    width: 100%;
    padding: .55rem 0;
}

.submitTitle {
    font-size: var(--font-size-h2);
    text-align: center;
    color: var(--color-secondary);
}

.submitButton {
    border: none;
    background-color: var(--color-accent);
    padding: 1rem 2rem;
    font-size: var(--font-size-text);
    font-weight: 600;
    border-radius: .5rem;
}
