@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Urbanist', sans-serif;
}

:root {
    --color-primary: #ffffff;
    --color-secondary: #12372A;
    --color-accent: #F1C30C;
    --color-accent3: rgba(18, 55, 42, 0.8);
    --color-color: #12372A;
    --color-color2: #ECECEC;
    --color-color3: #FAF8EC;
    --color-color4: #F1FFEA;
    --color-color5: rgba(241, 255, 234, 0.56);

    --font-urbanist: 'Urbanist', sans-serif;
    --font-inter: 'Inter', sans-serif;

    --font-size-h1: 5rem;
    --font-size-h2: 4rem;
    --font-size-h3: 3.25rem;
    --font-size-h4: 1.5625rem;
    --font-size-h5: 1.5rem;
    --font-size-h6: 1.25rem;
    --font-size-text: 1rem;
    --font-size-text2: 0.9375rem;
    --font-size-text3: 1.125rem;
    --font-size-text4: 0.875rem;
    --font-size-text5: 1.0625rem;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}